<html>
    <head>
        <title> </title>
    </head>
    <body>


{% block body %}
<section class="col-xs-12 col-sm-12 col-md-12 login">
    <article class="col-xs-12 col-sm-12 col-md-12">
        {% if error %}
            <div class="alert alert-danger">
                <strong>Whoops!</strong> WystÄpiĹ bĹÄd.<br><br>
                <ul>
                    <li>UĹźytkownik :  {{ last_username  }}</li>
                    <div>{{ error.message }}</div>
                </ul>
            </div>
        {% endif %}
        <span href="#" class="button" id="toggle-login">Zaloguj</span>

        <div id="form-login">
            <div id="triangle"></div>
            <h1>Logowanie</h1>
            <form   action="{{ path('login_check') }}" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
            <input type="text"  name="_username" id="username" min="5" max="15"  placeholder="podaj login" value="{{ last_username }}"required/>

            <input type="password" name="_password"  id="password" min="5" max="15" placeholder="podaj hasĹo" />
            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me"> ZapamiÄtaj mnie</label>
            </div>

            <input type="submit" value="Zaloguj">
            </form>
        </div>
    </article>
</section>
            {% endblock %}
    </body>
</html>